<header>
    <div class="logo">Anil Wagh</div>
    <nav class="topNav">
        <ul>
            <li><a>Home</a></li>
            <li><a>About</a></li>
            <li><a>Work</a></li>
            <li><a>Download</a></li>
            <li><a>Contact</a></li>
        </ul>
    </nav>
</header>
<div class="row">
    <div class="col-5">
        <figure>
            <img src="" width="150" height="150" />
            <figcaption>I'm UX developer ....</figcaption>
      </figure>
    </div>
    <div class="col-7">
        <span class="">HTML</span><progress value="80" max="100"></progress>
        <span class="">CSS</span><progress value="80" max="100"></progress>
        <span class="">JAVASCRIPT</span><progress value="80" max="100"></progress>
        <span class="">ANGULAR JS</span><progress value="80" max="100"></progress>
        <span class="">PROTRACTOR</span><progress value="80" max="100"></progress>
        <span class="">NODE JS</span><progress value="80" max="100"></progress>
    </div>
  </div>

<footer>
  <div class="row">
    <div class="col-12">
        
	    <div class="right">
	       	<a href="#">fb</a>
	       	<a href="#">twt</a>
	    </div>
    </div>
  </div>
  
</footer>