<div class="animation-wrapper" id="animation-wrapper"></div>
<section onload= "myFunction()">
	
	<div class="center-content-wrapper">
	  <div class="center-content-container">
	    <div class="center-centent color-white">
	     	<h1>Hello, I'm <span class='highlight-text'>Anil Wagh</span><br />
				I'm UI Developer and Automation Expert
			</h1>
			
			<button (click)="goHome()">Know me more</button>

	    </div>
	  </div>	</div>
</section>
<div id="wrapper"></div>
<div id="ocean"></div>
<ul>
  
  <li><a routerLink="/home">home</a></li>
  <li><a routerLink="/welcome">Welcome</a></li>

</ul>