@import "../../scss/variables";
@import "../../scss/mixins";

.center-content-wrapper {
  	display: table;
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top:35%;
  	margin-top:-100px;
  	.center-content-container {
	  	display: table-cell;
	  	vertical-align: middle;
	  	.center-centent {
		  	margin-left: auto;
		  	margin-right: auto;
		  	width: 60%; /*default width*/
		}
	}
}

.highlight-text{
    color:#d66e65;
    @include textAnimation(#05a0c1, #b2f9dd);

}

button, .button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;   
    border: 2px solid #ddd;
    padding: 10px;     
    color:#ddd;
    font-family: monospace;
    font-size:18px;
}
button:after{
    font-family: initial;
	  content: ' \21DB';
    border-radius: 50%;
    border: 1px solid;
    font-size: 20px;
    background: rgba(0,0,0,0.3);
    width: 20px;
    padding: 2px 4px 3px 0;
    margin-left: 5px;
	
}
#ocean{
    position: absolute;
    bottom: 0;
    transform: rotate(180deg);
    width: 100%;
    min-height: 40%;
}

.wave{
  background:#00BEA6 -webkit-gradient(linear, left top, left bottom, from(#0057BE), to(#00BEA6)) no-repeat;
  opacity:0.1;
  display:inline-block;
  height:60%;
  width:10px;
  position:absolute;
  -webkit-animation-name:             dostuff; 
  -webkit-animation-duration:         3s; 
  -webkit-animation-iteration-count:  infinite;
  -webkit-transition-timing-function: ease-in-out;
}

