.center-content-wrapper {
  	display: table;
  	position: absolute;
  	height: 100%;
  	width: 100%;
  	top:35%;
  	margin-top:-100px;
  	.center-content-container {
	  	display: table-cell;
	  	vertical-align: middle;
	  	.center-centent {
		  	margin-left: auto;
		  	margin-right: auto;
		  	width: 400px; /*default width*/
		}
	}
}
